In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('test.db')
print ("Opened database successfully");
cur=conn.cursor()

Opened database successfully

In [3]:
conn.execute('''CREATE TABLE COMPANY1
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')
print ("Table created successfully");

Table created successfully

In [4]:
records = [(1, 'Paul', 32, 'California', 20000.00),
           (2, 'Allen', 25, 'Texas', 15000.00 ),
           (3, 'Teddy', 23, 'Norway', 20000.00),
           (4, 'Mark', 25, 'Rich-Mond ', 65000.00)]

In [5]:
cur.executemany('INSERT INTO COMPANY1 VALUES(?,?,?,?,?);',records);

In [6]:
for row in conn.execute('select * from COMPANY1'):
        print(row)

(1, 'Paul', 32, 'California', 20000.0)
(2, 'Allen', 25, 'Texas', 15000.0)
(3, 'Teddy', 23, 'Norway', 20000.0)
(4, 'Mark', 25, 'Rich-Mond ', 65000.0)

In [7]:
conn.commit()

In [8]:
conn.close()